<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <style>
    h2 {text-align: center;
    margin-top: 300px;
  color: #3399ff}
    </style>
  </head>
  <body>
    <h2>DataBeat, a specialist in media and analytics space, provides managed services for publishers (typically news websites that make revenue from advertising) and ad tech to manage their operations and optimize their revenue. Digital advertising
      is data-intensive and we believe in data-based decision making and problem-solving to excel in various functions.</h2>
  </body>
</html>
